workspaces/geonode/rd_od3_repo/vulnerabilidad_estructural_od3/schema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:geonode="http://www.geonode.org/" xmlns:gml="http://www.opengis.net/gml" xmlns:it.geosolutions="http://www.geo-solutions.it" xmlns:topp="http://www.openplans.org/topp" elementFormDefault="qualified" targetNamespace="http://www.geonode.org/">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation=""/>
  <xsd:element name="vulnerabilidad_estructural_od3" substitutionGroup="gml:_Feature" type="geonode:vulnerabilidad_estructuralType"/>
  <xsd:complexType name="vulnerabilidad_estructuralType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Grado_Dano" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Severo"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Ninguno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="No_Formulario" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Fecha_Hora_Visita" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Nombre_Propietario" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="No_Indentidad" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Telefono" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Nombre_Arrendatario" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Calle" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Bl" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Lote" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Barrio" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Uso_Predominante" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Residential"/>
                <xsd:enumeration value="Comercial"/>
                <xsd:enumeration value="Educacional"/>
                <xsd:enumeration value="Salud"/>
                <xsd:enumeration value="Hotelero"/>
                <xsd:enumeration value="Oficinas"/>
                <xsd:enumeration value="Industrial"/>
                <xsd:enumeration value="Bodegas"/>
                <xsd:enumeration value="Parqueaderos"/>
                <xsd:enumeration value="Multiproposito"/>
                <xsd:enumeration value="Otros"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Estrato_Vivienda" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Localizacio_Manzana" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Numero_Pisos_Niveles_sobre_el_terreno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Numero_Pisos_Sotanos" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Numero_Pisos_Total" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Area_Construida_Primer_Piso" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Area_Construida_Segundo_Piso" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Area_Construida_Tercer_Piso" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Area_Construida_Cuarto_Piso" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Tenencia_Bien" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Inmueble_Propio"/>
                <xsd:enumeration value="Arrendado"/>
                <xsd:enumeration value="Dominio_Util"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Estado_Construccion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Completa"/>
                <xsd:enumeration value="Incompleta"/>
                <xsd:enumeration value="En_Construccion"/>
                <xsd:enumeration value="No_Construido"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Porcentaje_Caso" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Control_Calidad_Construccion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Autocontruccion"/>
                <xsd:enumeration value="Con_Supervision_Profesional"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Anos_Construida" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="N_Apartamentos_Locales" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="N_Familias" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="N_Residentes" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="N_Anos_Residir_Edificacion" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="N_Anos_Residir_Barrio" nillable="true" type="xsd:integer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Acceso_Edificacion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Peatonal_Tierra"/>
                <xsd:enumeration value="Peatonal_Pavimentado"/>
                <xsd:enumeration value="Vehicular_Tierra"/>
                <xsd:enumeration value="Vehicular_Pavimentado"/>
                <xsd:enumeration value="Sin_Acceso"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Servicios_Publicos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Agua_Portable"/>
                <xsd:enumeration value="Alcantarillado_Pluvial"/>
                <xsd:enumeration value="Energia_Electrica"/>
                <xsd:enumeration value="Aguas_Negras"/>
                <xsd:enumeration value="Telefono"/>
                <xsd:enumeration value="Internet"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Sometida_Empujes_Tierra" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Area_Sometida_Deslizamiento" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="1/3"/>
                <xsd:enumeration value="1/2"/>
                <xsd:enumeration value="2/3"/>
                <xsd:enumeration value="Total"/>
                <xsd:enumeration value="N/A"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cimentacion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Zapatas_Aisiadas"/>
                <xsd:enumeration value="Zapatas_Corridas"/>
                <xsd:enumeration value="Mixto"/>
                <xsd:enumeration value="Mamposteria_Zapatas_Corridas"/>
                <xsd:enumeration value="Pilotes"/>
                <xsd:enumeration value="Vigas_Tensoras"/>
                <xsd:enumeration value="Losa_Cimentacion"/>
                <xsd:enumeration value="No_Existe"/>
                <xsd:enumeration value="No_Identificada"/>
                <xsd:enumeration value="Otro"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Sistema_Entrepiso" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Losas_Concreto"/>
                <xsd:enumeration value="Losas_Aligeradas_Concreto"/>
                <xsd:enumeration value="Lamina_Colaborante"/>
                <xsd:enumeration value="Vigas_Metalicas"/>
                <xsd:enumeration value="Joist"/>
                <xsd:enumeration value="Entramado_Madera"/>
                <xsd:enumeration value="Otro"/>
                <xsd:enumeration value="No_Aplica"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Sistema_Cubierta" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Losa_Concreto"/>
                <xsd:enumeration value="Placa_Steel_Deck"/>
                <xsd:enumeration value="Estructura_Metallica_y_Teja"/>
                <xsd:enumeration value="Estructura_Madera_y_Teja"/>
                <xsd:enumeration value="Otro"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Sistema_Estructural" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Porticos_Concreto_Reforzado"/>
                <xsd:enumeration value="Muros_Estructurales_Concreto_Reforzado"/>
                <xsd:enumeration value="Prefabricados_Concreto"/>
                <xsd:enumeration value="Mamposteria_Reforzado"/>
                <xsd:enumeration value="Portico_Resistente_Momento_Acero"/>
                <xsd:enumeration value="Portico_y_Paneles_Madera"/>
                <xsd:enumeration value="Portico_Madera_y_Paneles_Otros_Materiales"/>
                <xsd:enumeration value="Muros_Bahareque"/>
                <xsd:enumeration value="Muros_Tapia_Pisada"/>
                <xsd:enumeration value="Muros_Adobe"/>
                <xsd:enumeration value="Material_Recuperacion"/>
                <xsd:enumeration value="Mixto"/>
                <xsd:enumeration value="Otro"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Localizacion_Ladera" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Corona"/>
                <xsd:enumeration value="Cuerpo"/>
                <xsd:enumeration value="Base"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Implantacion_Ladera" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Sobre_Relleno"/>
                <xsd:enumeration value="En_Corte"/>
                <xsd:enumeration value="Enstructura_Palafitica"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Causa_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Asentamientos"/>
                <xsd:enumeration value="Deslizamiento_Tierra"/>
                <xsd:enumeration value="Inundacion"/>
                <xsd:enumeration value="Sismos"/>
                <xsd:enumeration value="Caida_Rocas"/>
                <xsd:enumeration value="Impactos"/>
                <xsd:enumeration value="Deficiencias_Constructiva"/>
                <xsd:enumeration value="Otros"/>
                <xsd:enumeration value="No_Presenta_Danos"/>
                <xsd:enumeration value="Muros_Adobe"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Actualmente_Expuesto" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Deslizamiento_Tierra"/>
                <xsd:enumeration value="Caida_Rocas"/>
                <xsd:enumeration value="Flujos"/>
                <xsd:enumeration value="Ninguno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Exposicion_Deslizamientos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Alto"/>
                <xsd:enumeration value="Medio"/>
                <xsd:enumeration value="Bajo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Contacto_Estructura_Expuesta" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Asentamiento_Diferencial_Maximo"/>
                <xsd:enumeration value="Luz_Correspondiente"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cimentacion_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cimentacion_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="MurosPortantes_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="MurosPortantes_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Columnas_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Columnas_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Vigas_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Vigas_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Entrepisos_Losas_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Escaleras_Gradas_Danos" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Entrepisos_Losas_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Escaleras_Gradas_Condicion" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Soporte_de_Cubierta_Techos_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Soporte_de_Cubierta_Techos_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Muros_de_Fachada_o_Antepecho_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Muros_de_Fachada_o_Antepecho_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Paredes_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Paredes_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cubierta_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cubierta_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cielo_Falso_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cielo_Falso_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Tanques_elevados_Danos" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Ninguno"/>
                <xsd:enumeration value="Leve"/>
                <xsd:enumeration value="Moderado"/>
                <xsd:enumeration value="Fuerte"/>
                <xsd:enumeration value="Severo"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Tanques_Elevados_Condicion" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Malo"/>
                <xsd:enumeration value="Regular"/>
                <xsd:enumeration value="Bueno"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="Comentarios_y_Observaciones" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Nombre_y_Apellidos" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="No_Evaluacion" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fotos" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:PointPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
