workspaces/geonode/rd_od3_repo/edan_preliminar_od3/schema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:geonode="http://www.geonode.org/" xmlns:gml="http://www.opengis.net/gml" xmlns:it.geosolutions="http://www.geo-solutions.it" xmlns:topp="http://www.openplans.org/topp" elementFormDefault="qualified" targetNamespace="http://www.geonode.org/">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation=""/>
  <xsd:complexType name="edan_preliminar_od3Type">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="fecha_hora_reporte" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipo_de_evento" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="huracan"/>
                <xsd:enumeration value="lluvias_intensas"/>
                <xsd:enumeration value="inundacion"/>
                <xsd:enumeration value="terremoto"/>
                <xsd:enumeration value="deslizamiento_de_tierra"/>
                <xsd:enumeration value="tsunami"/>
                <xsd:enumeration value="sequia"/>
                <xsd:enumeration value="incendio"/>
                <xsd:enumeration value="otro"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="caracteristicas_del_evento" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fecha_hora_evento" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="evento_todavia_en_curso" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="si"/>
                <xsd:enumeration value="no"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="necesidad_apoyo_externo" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="alta"/>
                <xsd:enumeration value="media"/>
                <xsd:enumeration value="baja"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="quien_reporta" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="institucion" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cargo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="contacto_telefono" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="contacto_email" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="provincia" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Azua"/>
                <xsd:enumeration value="Bahoruco"/>
                <xsd:enumeration value="Barahona"/>
                <xsd:enumeration value="Dajabon"/>
                <xsd:enumeration value="Distrito Nacional"/>
                <xsd:enumeration value="Duarte"/>
                <xsd:enumeration value="El Seibo"/>
                <xsd:enumeration value="Elias Pina"/>
                <xsd:enumeration value="Espaillat"/>
                <xsd:enumeration value="Hato Mayor"/>
                <xsd:enumeration value="Hermanas Mirabal"/>
                <xsd:enumeration value="Independencia"/>
                <xsd:enumeration value="La Altagracia"/>
                <xsd:enumeration value="La Romana"/>
                <xsd:enumeration value="La Vega"/>
                <xsd:enumeration value="Maria Trinidad Sanchez"/>
                <xsd:enumeration value="Monsenor Nouel"/>
                <xsd:enumeration value="Montecristi"/>
                <xsd:enumeration value="Monte Plata"/>
                <xsd:enumeration value="Pedernales"/>
                <xsd:enumeration value="Peravia"/>
                <xsd:enumeration value="Puerto Plata"/>
                <xsd:enumeration value="Samana"/>
                <xsd:enumeration value="San Cristobal"/>
                <xsd:enumeration value="San Jose de Ocoa"/>
                <xsd:enumeration value="San Juan de la Maguana"/>
                <xsd:enumeration value="San Pedro de Macoris"/>
                <xsd:enumeration value="Sanchez Ramirez"/>
                <xsd:enumeration value="Santiago"/>
                <xsd:enumeration value="Santiago Rodriguez"/>
                <xsd:enumeration value="Santo Domingo"/>
                <xsd:enumeration value="Valverde"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="municipio_o_distrito" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="comunidad_o_barrio" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accesso" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accesso_por_carretera_vehiculo_4x4" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="si"/>
                <xsd:enumeration value="no"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="accesso_por_rio_o_mar_barco" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="si"/>
                <xsd:enumeration value="no"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="accesso_por_aire_helicoptero" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="si"/>
                <xsd:enumeration value="no"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="via_de_accesso_recommendada" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="aerae"/>
                <xsd:enumeration value="terrestre"/>
                <xsd:enumeration value="fluvial"/>
                <xsd:enumeration value="maritima"/>
                <xsd:enumeration value="otra"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="condiciones_meteorologicas" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="despejado_o_soleado"/>
                <xsd:enumeration value="altas_temperaturas"/>
                <xsd:enumeration value="poco_nublado"/>
                <xsd:enumeration value="muy_nubiado"/>
                <xsd:enumeration value="lluvias_intensas"/>
                <xsd:enumeration value="vientos_fuertes"/>
                <xsd:enumeration value="otro"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="efectos_adversos" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="poblacion_salud" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="poblacion_aprox_antes_del_evento" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="personas_evacuadadas_desplazadas" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="menos_mitad"/>
                <xsd:enumeration value="mitad"/>
                <xsd:enumeration value="mas_mitad"/>
                <xsd:enumeration value="todas"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_heridos" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_muertos" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_desaparecidos" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_atrapados" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_aislados" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lineas_vitales" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transporte_carreteras_puentes_otros" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transporte_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transporte_funcionan_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transporte_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agua_potable_pozos_acueductos_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agua_potable_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agua_potable_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agua_portable_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="alcantarillado_sanitario_pluvial_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="alcantarillado_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="alcantarillado_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="alcantarillado_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="energia_electrica_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="energia_electrica_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="energia_electrica_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="energia_electrica_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefonos_flips_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefonos_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefonos_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefonos_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulares_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulares_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulares_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulares_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="radio_uhf_vhf_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="radio_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="radio_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="radio_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="servicios" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centros_de_salud_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centros_de_salud_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centros_de_salud_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centros_de_salud_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centros_escolares_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centros_escolares_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centros_escolares_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="centros_escolares_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_viviendas_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="viviendas_danadas" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="menos_mitad"/>
                <xsd:enumeration value="mitad"/>
                <xsd:enumeration value="mas_mitad"/>
                <xsd:enumeration value="todas"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="viviendas_destruidas" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="menos_mitad"/>
                <xsd:enumeration value="mitad"/>
                <xsd:enumeration value="mas_mitad"/>
                <xsd:enumeration value="todas"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_albergues_habilitados_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_personas_en_albergues" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="infraestructura_productiva_primaro" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="no_hay"/>
                <xsd:enumeration value="sin_dano"/>
                <xsd:enumeration value="dano_parcial"/>
                <xsd:enumeration value="destruido"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="infraestructura_productiva_secundario" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="no_hay"/>
                <xsd:enumeration value="sin_dano"/>
                <xsd:enumeration value="dano_parcial"/>
                <xsd:enumeration value="destruido"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="infraestructura_productiva_terciario" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="no_hay"/>
                <xsd:enumeration value="sin_dano"/>
                <xsd:enumeration value="dano_parcial"/>
                <xsd:enumeration value="destruido"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="visita" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="terreno"/>
                <xsd:enumeration value="distancia"/>
                <xsd:enumeration value="redes_sociales"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="control_de_calidad" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="visita_terreno"/>
                <xsd:enumeration value="entrevista"/>
                <xsd:enumeration value="redes_sociales"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="commentarios" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fotos" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:MultiPolygonPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="edan_preliminar_od3" substitutionGroup="gml:_Feature" type="geonode:edan_preliminar_od3Type"/>
</xsd:schema>

