workspaces/geonode/rd_od3_repo/edan_preliminar_od3/schema.xsd.old

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:geonode="http://www.geonode.org/" xmlns:gml="http://www.opengis.net/gml" xmlns:it.geosolutions="http://www.geo-solutions.it" xmlns:topp="http://www.openplans.org/topp" elementFormDefault="qualified" targetNamespace="http://www.geonode.org/">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://192.168.10.146/geoserver/schemas/gml/3.1.1/base/gml.xsd"/>
  <xsd:complexType name="edan_preliminar_od3Type">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="fecha_hora_reporte" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipo_de_evento" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="caracteristicas_del_evento" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fecha_hora_evento" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="evento_todavia_en_curso" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="evento_todavia_en_curso" nillable="true">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="agua"/>
                <xsd:enumeration value="albergue"/>
                <xsd:enumeration value="comida"/>
                <xsd:enumeration value="letrina"/>
                <xsd:enumeration value="otro"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="necesidad_apoyo_externo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="quien_reporta" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="institucion" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cargo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="contacto_tele" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="contacto_email" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="provincia" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="municipio_o_distrito" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="comunidad_o_barrio" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accesso" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accesso_por_carretera" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accesso_por_rio_o_mar" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accesso_por_aire" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="via_de_accesso_recommenda" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="condiciones_meteorologicas" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="efectos_adversos" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="poblacion_salud" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="personas_viven_localidad_antes" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="personas_evacuadadas_desplazadas" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_heridos" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_muertos" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_desaparecidas" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_atrapadas" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_aisladas" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lineas_vitales" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transporte_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transporte_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transporte_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="transporte_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agua_potable_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agua_potable_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agua_potable_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agua_portable_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="alcantarillado_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="alcantarillado_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="alcantarillado_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="alcantarillado_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="energia_electrica_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="energia_electrica_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="energia_electrica_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="energia_electrica_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefonos_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefonos_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefonos_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefonos_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulares_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulares_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulares_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulares_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="radio_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="radio_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="radio_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="radio_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="servicios" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="salud_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="salud_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="salud_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="salud_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="escolares_total" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="escolares_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="escolares_parcial" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="escolares_no_funcionan" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_viviendas_todos" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="viviendas_danadas" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="viviendas_destruidas" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_albergues_totales_habilitados" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero_personas_albergues" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="infraestructura_productiva_primero" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="infraestructura_productiva_secondario" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="infraestructura_productiva_terciario" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="visita" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="control_de_calidad" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="commentarios" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fotos" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:PointPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="edan_preliminar_od3" substitutionGroup="gml:_Feature" type="geonode:edan_preliminar_od3Type"/>
</xsd:schema>
